* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: hsl(234, 29%, 20%);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  width: 100%;
  max-width: 900px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 40px;
  border-radius: 20px;
  gap: 40px;
}

.card1 {
  flex: 1;
}

.card1 h2 {
  font-size: 52px;
  margin-bottom: 20px;
}

.card1 p {
  margin-bottom: 20px;
  color: hsl(235, 18%, 26%);
}

.card1 ul li {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: 700;
  margin-bottom: 8px;
}

form input {
  height: 45px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid hsl(0, 0%, 58%);
  border-radius: 6px;
}


#emailError {
  display: none;
  color: hsl(4, 100%, 67%);
  font-size: 12px;
  margin-bottom: 10px;
}

form button {
  padding: 14px;
  border: none;
  border-radius: 6px;
  background: hsl(235, 18%, 26%);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

form button:hover {
  background: hsl(4, 100%, 67%);
}

.card2 {
  flex: 1;
  display: flex;
  justify-content: center;
}

.card2 img {
  width: 100%;
  max-width: 350px;
  display: block;
}

.mobile-img {
  display: none !important;
}

.message {
  display: none;
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 20px;
  max-width: 400px;
}

@media (max-width: 1024px) {
  .container {
    padding: 30px;
  }

  .card1 h2 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {

  body {
    padding: 0;
  }

  .container {
    flex-direction: column;
    padding: 0;
    border-radius: 0;
    width: 100%;
  }

  .card2 {
    order: -1;
    width: 100%;
  }

  .desktop-img {
    display: none !important;
  }

  .mobile-img {
    display: block !important;
    width: 100%;
  }

  .card1 {
    padding: 20px;
  }

  .card1 h2 {
    font-size: 32px;
  }
}